body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    color: #4079ff;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #fff, 0 0 25px #4079ff, 0 0 5px #4079ff;
    animation: glow 1s alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #4079ff, 0 0 20px #4079ff, 0 0 30px #4079ff, 0 0 40px #4079ff, 0 0 50px #4079ff, 0 0 60px #4079ff, 0 0 70px #4079ff;
    }
    to {
        text-shadow: 0 0 20px #4079ff, 0 0 30px #4079ff, 0 0 40px #4079ff, 0 0 50px #4079ff, 0 0 60px #4079ff, 0 0 70px #4079ff, 0 0 80px #4079ff;
    }
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4079ff;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #333;
}

button {
    background: #4079ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    margin: 5px;
}

button:hover {
    background: #ff79b0;
}

#output {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border: 2px solid #4079ff;
    border-radius: 10px;
    width: 300px;
    word-wrap: break-word;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#copyButton {
    margin-top: 10px;
}

div {
    margin: 10px 0;
    text-align: center;
}

h2 {
    color: #4079ff;
}

@media (max-width: 480px){

    h1 {
        font-size: 20px;
    color: #40b9ff;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #fff, 0 0 25px #40b9ff, 0 0 5px #40b9ff;
    animation: glow 1s infinite alternate;
}
}
